@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 48 95% 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 48 95% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 48 95% 98%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 30 100% 49%; /* Orange */
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 44 94% 91%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 140 60% 40%; /* Green */
    --accent-foreground: 30 54% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 30 100% 49%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 30 96% 50%; /* Orange */
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 216 12% 84%;
    --accent: 140 70% 36%; /* Green */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 30 96% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
